bloomfilter/build/test/classes/.netbeans_automatic_build
bloomfilter/build/test/classes/.netbeans_update_resources
/bloomfilter/jstorm-master/jstorm-utility/jstorm-rocket-mq/target/
/stormintegrationtest-project/stormintegrationtest/nbproject/private/
/stormintegrationtest-project/stormintegrationtest/build/
sh.exe.stackdump
